{% extends 'base.html.twig' %}

{% block title %} Member's information {% endblock %}


{% block body %}
    {{ include('layouts/header_content/header_show_content.html.twig') }}

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card card-primary mt-2 mb-2">
                        <div class="card-header">
                            <h3 class="card-title">Informations of {{ member.firstName }} {{ member.lastName }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{vich_uploader_asset(member) | imagine_filter('squared_thumbnail_small')}}" alt="{{member.lastName}}">
                                </div>
                                <!-- /.col -->
                                <div class="col-md-6">
                                    <strong>Complete name</strong>
                                    <p>{{ member.firstname }} {{ member.lastName }}</p>
                                    <strong>Phone Number</strong>
                                    <p>{{ member.phoneNumber }}</p>
                                    <strong>Profession</strong>
                                    <p>{{ member.profession }}</p>
                                    <strong>Email</strong>
                                    <p>{{ member.email }}</p>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row-->
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <p class="btn btn-outline-primary" style="float:right;"><a href="{{ path('app_member_edit', {id: member.id}) }}" style="color: inherit!important;">Update</a></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="btn btn-outline-danger" style="float:left;"><a href="#" style="color: inherit !important;">Delete</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row-->
        </div><!-- /.container-->
    </section>
    <!-- /.content -->
{% endblock %}