{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {{ include('_layouts/fix_content/header_main_menu.html.twig') }}
    </section>
    <!-- Main content -->
    <section class="content m-3">
        <div class="container">
            <!-- Small boxes (Stat box) -->
            <div class="row justify-content-center align-items-center mb-2" style="height: 50vh">
                <div class="col-lg-4 col-12">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>Membres</h3>
                            {% if(members|length > 0) %}
                                <p>Effectif: {{ members|length }} </p>
                            {% else %}
                                <p><a href="{{ path('app_member_create') }}" style="color: inherit !important;">Ajoute le premier Membre</a></p>
                            {% endif %}
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                        <a href="{{ path('app_member_list') }}" class="small-box-footer">consulter la liste <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>Coordonateurs</h3>
                            {% if(coordinators|length > 0) %}
                                <p>Effectif: {{ coordinators|length }} </p>
                            {% else %}
                                <p><a href="{{ path('app_coordinator_create') }}" style="color: inherit !important;">Ajoute le premier Coordonateur</a></p>
                            {% endif %}
                            <div class="icon">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <a href="{{ path('app_coordinator_list') }}" class="small-box-footer">consulter la liste <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div><!-- ./col -->
                <div class="col-lg-4 col-12">
                   <div class="small-box bg-danger">
                       <div class="inner">
                           <h3>Zones</h3>
                           {% if(zones|length > 0) %}
                               <p>Effectif: {{ zones|length }} </p>
                           {% else %}
                               <p><a href="{{ path('app_zone_create') }}" style="color: inherit !important;">Ajoute la première Zone</a></p>
                           {% endif %}
                           <div class="icon">
                               <i class="fas fa-map-marker-alt"></i>
                           </div>
                       </div>
                       <a href="{{ path('app_zone_list') }}" class="small-box-footer">consulter la liste <i class="fas fa-arrow-circle-right"></i></a>
                   </div>
                </div><!-- ./col -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>
    <!-- /.header_members_content -->
{% endblock %}
