{% extends 'base.html.twig' %}

{% block title %}Liste de zones{% endblock %}

{% block body %}
    {{ include('_layouts/header_zone_content/header_list_content.html.twig') }}

    <!-- Main content -->
    <section class="content">
        <div class="container">
            {% if(zones|length) > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-outline-danger float-center" href="{{ path('app_zone_create') }}">Ajouter un zone</a>
                </div>
            </div>
            {% for row in zones|batch(4) %}
            <div class="row mt-5">
                {% for zone in row %}
{#                    {{ dump(zone) }}#}
                <div class="col-md-3 col-sm-6 col-12 dropdown-hover">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-map-marker-alt"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">{{ zone.zone }}</span>
                            {% if(zone.coordinator == null) %}
                            <span class="info-box-number">Aucun coordonateur!</span>
                            {% else %}
                            <span class="info-box-number">{{ zone.coordinator }}</span>
                             {% endif %}
                            {% if(zone.members|length > 1) %}
                            <span class="info-box-number">Nbres: {{ zone.members|length }}</span>
                            {% elseif (zone.members|length == 1) %}
                            <span class="info-box-number">Nbre: {{ zone.members|length }}</span>
                            {% else %}
                            <span class="info-box-number">Aucun membre!</span>
                            {% endif %}
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <span class="sr-only">Toggle Dropdown</span>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="{{ path('app_zone_show', {zone: zone.id}) }}">Détails</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_zone_edit', {id: zone.id}) }}">Modifier</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           onclick="event.preventDefault();
                            confirm('Are you sure? You want to delete {{ zone.id }}') && document.querySelector('#js-zone-delete-form').submit();"
                        >Supprimer</a>
                        <form id="js-zone-delete-form" action="{{path('app_zone_delete', {id: zone.id})}}" method="POST" style="display: none">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('zone_deletion_' ~ zone.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </div>
                </div>
                {% endfor %}
                <!-- /.col -->
            </div>
            <!-- /.row -->
            {% endfor %}
            {% else %}
            <div class="row justify-content-center align-items-center" style="height: 50vh">
                <h1 class="text-secondary">Aucune zone enregistrée.</h1>
                <a type="button" href="{{path('app_zone_create')}}"
                class="btn btn-secondary m-3" style="text-decoration: none">Ajouter une zone</a>
            </div>
            {% endif %}
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}