{% extends 'base.html.twig' %}

{% block title %}Zones{% endblock %}

{% block body %}

    {{ include('_layouts/header_zone_content/header_show_content.html.twig') }}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste des membres de la zone de {{ zone.zone }}</h3>
{#                            <a class="btn btn-outline-primary float-right" href="{{ path('app_zone_create') }}">Ajouter un membre</a>#}
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Téléphone</th>
                                    <th>Profession</th>
                                    <th>Localisation</th>
                                    <th>Email</th>
                                    <th>Ajouté le</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr data-href="{{ path('app_zone_members', { zone: zone.id, member: member.id }) }}">
                                        <td>{{ member.id }}</td>
                                        <td>{{ member.lastName }}</td>
                                        <td>{{ member.firstName }}</td>
                                        <td>{{ member.phoneNumber }}</td>
                                        <td>{{ member.profession }}</td>
                                        <td>{{ member.localisation }}</td>
                                        <td>{{ member.email }}</td>
                                        <td>{{ member.createdAt|date("Y-m-d H:i:s") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Téléphone</th>
                                    <th>Profession</th>
                                    <th>Localisation</th>
                                    <th>Email</th>
                                    <th>Ajouté le</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
