{% extends 'base.html.twig' %}

{% block title %}Coordinator index{% endblock %}

{% block body %}
    <h1>Coordinator index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Phone_number</th>
                <th>Profession</th>
                <th>Email</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coordinator in coordinators %}
            <tr>
                <td>{{ coordinator.id }}</td>
                <td>{{ coordinator.firstName }}</td>
                <td>{{ coordinator.lastName }}</td>
                <td>{{ coordinator.phoneNumber }}</td>
                <td>{{ coordinator.profession }}</td>
                <td>{{ coordinator.email }}</td>
                <td>{{ coordinator.createdAt ? coordinator.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ coordinator.updatedAt ? coordinator.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('coordinator_show', {'id': coordinator.id}) }}">show</a>
                    <a href="{{ path('coordinator_edit', {'id': coordinator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coordinator_new') }}">Create new</a>
{% endblock %}
