{% extends 'base.html.twig' %}

{% block title %}Coordinator's list{% endblock %}

{% block body %}
    {{ include('layouts/header_content/header_list_content.html.twig') }}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Information's List</h3>
                            <a class="btn btn-outline-primary float-right" href="{{ path('app_coordinator_create') }}">Add a coordinator</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>LastName</th>
                                    <th>FirstName</th>
                                    <th>Phone Number</th>
{#                                    <th>Profession</th>#}
                                    <th>Localisation</th>
{#                                    <th>Email</th>#}
                                    <th>InsertAt</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for coordinator in coordinators %}
                                    <tr data-href="{{ path('app_coordinator_show', { id: coordinator.id}) }}">
                                        <td>{{ coordinator.id }}</td>
                                        <td>{{ coordinator.lastName }}</td>
                                        <td>{{ coordinator.firstName }}</td>
                                        <td>{{ coordinator.phoneNumber }}</td>
{#                                        <td>{{ member.profession }}</td>#}
                                        <td>{{ coordinator.localisation }}</td>
{#                                        <td>{{ member.email }}</td>#}
                                        <td>{{ coordinator.createdAt|date("Y-m-d H:i:s") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>LastName</th>
                                    <th>FirstName</th>
                                    <th>Phone Number</th>
{#                                    <th>Profession</th>#}
                                    <th>Localisation</th>
{#                                    <th>Email</th>#}
                                    <th>InsertAt</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}