{% extends 'base.html.twig' %}

{% block title %}Liste de coordonnateurs{% endblock %}

{% block body %}
    {{ include('_layouts/header_coordo_content/header_list_content.html.twig') }}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Liste d'informations</h3>
                            <a class="btn btn-outline-success float-right" href="{{ path('app_coordinator_create') }}">Ajouter un coordonnateur</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
{#                                    <th>Profession</th>#}
                                    <th>Localisation</th>
                                    <th>Email</th>
                                    <th>Ajouté le</th>
{#                                    <th>Modifié le</th>#}
                                </tr>
                                </thead>
                                <tbody>
                                {% for coordinator in coordinators %}
{#                                    {{ dump(coordinator) }}#}
                                    <tr data-href="{{ path('app_coordinator_show', { id: coordinator.id}) }}">
                                        <td>{{ coordinator.id }}</td>
                                        <td>{{ coordinator.firstName }}</td>
                                        <td>{{ coordinator.lastName }}</td>
                                        <td>{{ coordinator.phoneNumber }}</td>
{#                                        <td>{{ member.profession }}</td>#}
                                        <td>{{ coordinator.localisation }}</td>
                                        {% if(coordinator.email) %}
                                            <td>{{ coordinator.email }}</td>
                                        {% else %}
                                            <td>Pas d'email</td>
                                        {% endif %}
                                        <td>{{ coordinator.createdAt|date("Y-m-d H:i:s") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
{#                                    <th>Profession</th>#}
                                    <th>Localisation</th>
                                    <th>Email</th>
                                    <th>Ajouté le</th>
{#                                    <th>InsertAt</th>#}
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}