{% extends 'base.html.twig' %}

{% block title %} Coordinator's information {% endblock %}


{% block body %}
    {{ include('layouts/header_content/header_show_content.html.twig') }}

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card card-primary mt-2 mb-2">
                        <div class="card-header">
                            <h3 class="card-title">Informations of {{ coordinator.firstName }} {{ coordinator.lastName }}</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
{#                                    <img src="{{vich_uploader_asset(member) | imagine_filter('squared_thumbnail_small')}}" alt="{{member.lastName}}">#}
{#                                </div>#}
                                <!-- /.col -->
{#                                <div class="justify-content-center align-items-center">#}

                                      <h6>Last Name :  <strong>{{ coordinator.lastName }}</strong> </h6>
                                     <h6>First Name :  <strong>{{ coordinator.firstname }}</strong> </h6>
                                    <h6>Phone Number:  <strong>{{ coordinator.phoneNumber }}</strong> </h6>
                                    <h6>Localisation :  <strong>{{ coordinator.localisation }}</strong> </h6>

{#                                    <strong>Profession</strong>#}
{#                                    <p>{{ coordinator.profession }}</p>#}

{#                                    <strong>Email</strong>#}
{#                                    <p>{{ coordinator.email }}</p>#}
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row-->
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <a href="{{ path('app_coordinator_edit', {id: coordinator.id}) }}" style=" float:right;" class="btn btn-outline-primary">Update</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-outline-danger" style="float:left;"onclick="event.preventDefault(); confirm('Are you sure?') && document.querySelector('#js-member-delete-form').submit();">Delete</a>

                                    <form id="js-member-delete-form" action="{{path('app_coordinator_delete', {id: coordinator.id})}}" method="POST" style="display:none">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token('coordinator_deletion_' ~ coordinator.id)}}">
                                        <input type="hidden" name="_method" value="DELETE">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row-->
        </div><!-- /.container-->
    </section>
    <!-- /.content -->
{% endblock %}